.two_col_feature {
    position: relative;
    isolation: isolate;
    color: var(--col-light);
    &__bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .container-xl {
        color: var(--col-light);
        h2,
        h3 {
            color: inherit;
        }
    }
}
