// .four_list_cards {
//     &__grid {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         grid-template-rows: auto auto auto auto auto;
//         gap: 2rem;
//         max-width: 100%;

//         @media (max-width:1200px) {
//             grid-template-columns: repeat(2, 1fr);
//         }
//         @media (max-width:768px) {
//             grid-template-columns: repeat(1, 1fr);
//         }
//     }
//     &__card {
//         display: grid;
//         grid-template-rows: subgrid;
//         grid-row: span 5;
//         align-items: stretch;
//         height: 100%;
//         row-gap: 0;
//     }
//     &__image {
//         aspect-ratio: 16 / 9;
//         width: 100%;
//         object-fit: cover;
//         margin-bottom: 0.5rem;
//     }
//     &__title {
//         font-size: var(--fs-500);
//         color: var(--col-blue-400);
//         margin-bottom: 0.5rem;
//     }
//     &__content {
//         margin-bottom: 0.5rem;
//     }
//     ul {
//         padding-inline-start: 1rem;
//         color: var(--col-teal-400);
//         margin-bottom: 2rem;
//     }
//     .button {
//         align-self: self-end;
//     }
// }

.four_list_cards {
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(150px, 1fr) auto auto auto auto; // Set fixed image height
        row-gap: 0.5rem;
        column-gap: 2rem;
        max-width: 100%;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 5;
        align-items: start;
        margin-bottom: 3rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0.5rem;
        border-radius: var(--border-radius);
    }
    &__title {
        font-size: var(--fs-500);
        color: var(--col-blue-400);
        margin-bottom: 0.5rem;
    }
    &__content {
        margin-bottom: 0.5rem;
    }
    ul {
        padding-inline-start: 1rem;
        color: var(--col-teal-400);
        margin-bottom: 2rem;
    }
    .button {
        align-self: end; // Places button correctly at the bottom row
    }
}
