.page_hero {
    color: var(--col-light);
    position: relative;
    height: min(250px, 66vh);
    isolation: isolate;
    overflow: hidden;

    @media (min-width: 992px) {
        &::before {
            content: '';
            background-image: url(../img/dna.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: right;
            position: absolute;
            top: 25%;
            left: 0%;
            width: 150px;
            height: 66%;
            z-index: 0;
            opacity: 0.8;
        }
        &::after {
            content: '';
            background-image: url(../img/dna.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: left;
            position: absolute;
            bottom: 25%;
            right: 0%;
            width: 150px;
            height: 66%;
            z-index: 0;
            opacity: 0.8;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        z-index: -1;
    }

    .container-xl {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
        row-gap: 1rem;
        z-index: 2;
    }

    &__title {
        font-size: var(--fs-900);
        margin-bottom: 0;
        color: inherit;
    }

    &__content {
        max-width: 92ch;
        margin-inline: auto;
        font-size: clamp(1.1rem, -0.5vw + 1.7rem, 1.4rem);
    }
    &__content > .button {
        font-size: initial;
    }
}
