.latest_posts {
    &__grid {
        display: grid;
     
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        max-width: 100%;

        @media (max-width:1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:768px) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
    &__card {
        background-color: var(--col-light);
        text-decoration: none;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        gap: 0;
        align-items: stretch;
        height: 100%;
        &:hover {
            .latest_posts__image {
                opacity: 0.6;
            }
        }
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0.5rem;
        transition: opacity var(--transition);
    }
    &__title {
        font-size: var(--fs-400);
        color: var(--col-blue-400);
        margin-bottom: 0.5rem;
        padding-inline: 0.5rem;
    }
    &__excerpt {
        font-size: var(--fs-300);
        font-weight: var(--fw-400);
        margin-bottom: 0.5rem;
        color: var(--col-dark);
        padding-inline: 0.5rem;
    }
    &__date {
        align-self: end;
        color: var(--col-teal-400);
        font-size: var(--fs-300);
        font-weight: var(--fw-400);
        padding-inline: 0.5rem;
        padding-bottom: 0.5rem;
    }
}