.home_intro {
    position: relative;
    &__dna {
        display: block;
        max-width: min(33%, 300px);
        min-width: 190px;
        width: 100%;
        height: auto;
        margin-inline: auto;
        position: absolute;
        left: 50%;
        will-change: transform;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        top: 50px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        @media (min-width: 768px) {
            top: 0;
        }
        // Add Safari-specific fix
        @supports (-webkit-transform: translateZ(0)) {
            transform: translate(-50%, -50%) scale(1); // Ensure proper scaling
        }
    }
    &__lines {
        display: block;
        max-width: 68%;
        margin-inline: auto;

        padding-top: 95px;
        @media (min-width: 992px) {
            padding-top: 45px;
        }
    }

    &__cards {
        margin-top: -100px;
    }

    &__card {
        display: grid;
        gap: 0.5rem;
        grid-template-rows: auto auto 1fr auto;
        justify-content: center;
        height: 100%;
    }

    &__icon {
        max-width: min(115px, 50vw);
        margin-inline: auto;
    }
    .h4 {
        max-width: 14ch;
        line-height: 1.2;
        margin-inline: auto;
        margin-bottom: 0.25rem;
    }
    .fs-300 {
        max-width: 35ch;
        margin-inline: auto;
    }

    &__brace {
        width: 100%;
    }

    @media (max-width: 768px) {
        .col-md-4.padme {
            margin-top: 140px;
        }
    }
}
