.text-image-slider {
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
    }
    &__image {
        border-radius: var(--border-radius);
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
    }
    &__icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 1rem;
    }

    .splide__track,
    .splide__list {
        height: 100%;
    }

    .splide__slide {
        height: auto;
        // min-height: 450px;
        .row {
            .col-md-8,
            .col-md-6.text-image-slider__content {
                background-color: var(--col-white);
                border-radius: var(--border-radius);
                align-content: center;
                height: 100%;
            }
        }
    }

    .row {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .splide__pagination {
        position: relative;
        bottom: auto;
        padding: 1rem 0 0;
    }
    .splide__pagination__page.is-active {
        background-color: var(--col-blue-400);
    }
}
