.text-image-slider {
    &__image {
        border-radius: var(--border-radius);
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
    }

    .splide__pagination {
        position: relative;
        bottom: auto;
        padding: 1rem 0 0;
    }
    .splide__pagination__page.is-active {
        background-color: var(--col-blue-400);
    }
}
