.image-cards {
    &__card {
        display: flex;
        flex-direction: column;
        border: 2px solid var(--col-teal-400);
        border-radius: var(--border-radius);
        height: 100%;
        overflow: hidden;
        background-color: var(--col-white);
    }
    &__image-wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        h2 {
            font-size: var(--fs-500);
        }
    }
}
