.home-product-cards {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        text-align: center;
        align-items: stretch;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        perspective: 1000px;
        display: flex;
    }

    &__card-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__card-front,
    &__card-back {
        width: 100%;
        height: 100%;
        border: 1px solid var(--col-teal-400);
        border-radius: var(--border-radius);
        padding: 2rem 1.5rem;
        background: white;
        display: grid;
        grid-template-rows: auto minmax(4.1em, auto) 1fr auto;
        gap: 1rem;
        transition: opacity 0.3s ease;
    }

    &__card-front {
        position: relative;
    }

    &__card-back {
        position: absolute;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        background-color: var(--col-light);
    }

    &__card:hover &__card-back {
        opacity: 1;
        pointer-events: auto;
    }

    &__icon {
        max-width: min(115px, 50vw);
        margin-inline: auto;
    }

    &__card-front h2,
    &__card-back h3 {
        text-align: center;
    }
}
