/* Colour Classes */
.has-dark-color,
.text--dark {
  color: var(--col-dark);
}
.has-dark-background-color,
.bg--dark {
  background-color: var(--col-dark);
}

.has-light-color,
.text--light {
  color: var(--col-light);
}
.has-light-background-color,
.bg--light {
  background-color: var(--col-light);
}

.has-grey-400-color,
.text--grey-400 {
  color: var(--col-grey-400);
}
.has-grey-400-background-color,
.bg--grey-400 {
  background-color: var(--col-grey-400);
}

.has-grey-200-color,
.text--grey-200 {
  color: var(--col-grey-200);
}
.has-grey-200-background-color,
.bg--grey-200 {
  background-color: var(--col-grey-200);
}


.has-blue-400-color,
.text--blue-400 {
  color: var(--col-blue-400);
}
.has-blue-400-background-color,
.bg--blue-400 {
  background-color: var(--col-blue-400);
}

.has-teal-400-color,
.text--teal-400 {
  color: var(--col-teal-400);
}
.has-teal-400-background-color,
.bg--teal-400 {
  background-color: var(--col-teal-400);
}

.has-purple-400-color,
.text--purple-400 {
  color: var(--col-purple-400);
}
.has-purple-400-background-color,
.bg--purple-400 {
  background-color: var(--col-purple-400);
}

.has-turquoise-400-color,
.text--turquoise-400 {
  color: var(--col-turquoise-400);
}
.has-turquoise-400-background-color,
.bg--turquoise-400 {
  background-color: var(--col-turquoise-400);
}

.has-amber-400-color,
.text--amber-400 {
  color: var(--col-amber-400);
}
.has-amber-400-background-color,
.bg--amber-400 {
  background-color: var(--col-amber-400);
}
