.news {
    &__grid {
        display: grid;
        gap: 2rem;

        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__item {
        background-color: var(--col-light);
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
        &:hover {
            .news__img {
                opacity: 0.8;
            }
            .news__link {
                &::after {
                    transform: translateX(0.5rem);
                }
            }
        }
    }

    h3 {
        font-size: var(--fs-400);
    }
    &__first {
        @media (min-width:768px) {
            grid-column: span 2;
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width:992px) {
            grid-column: span 3;
            grid-template-columns: 1fr 2fr;
        }
        display: grid;
        gap: 2rem;
        h3 {
            font-size: var(--fs-600);
        }
        .news__inner {
            grid-template-rows: auto 1fr auto;
            padding: 1rem;
        }
    }

    &__item:not(.news__first) {
        display: grid;
        grid-template-rows: auto 1fr;
        .news__image {
            margin-bottom: 0.5rem;
        }
    }

    &__image {
        position: relative;
        width: 100%;;
    }
    &__img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        transition: opacity var(--transition);
        width: 100%;
    }
    // .overlay {
    //     background-color: var(--col-blue-400);
    //     inset: 0;
    //     position: absolute;
    //     opacity: 0;
    //     transition: opacity var(--transition);
    // }

    .catflash {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: var(--col-blue-400);
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 100vw;
        font-size: var(--fs-300);
        font-weight: var(--fw-400);
    }

    &__inner {
        display: grid;
        align-items: stretch;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        font-size: var(--fs-300);
        align-items: end;
    }
    &__link {
        position: relative;
        display: inline-block;
        padding-right: 1.5rem;
        &::after {
            position: absolute;
            content: "\f178";
            font-family: var(--ff-fa);
            font-weight: 600;
            right: 0.5rem;
            transition: transform var(--transition);
        }
    }
    
}


// .pagination {
//     width: fit-content;
//     ul{
//         list-style: none;
//         display: flex;
//         padding-inline-start: 0;
//     }
//     li {
        
//         border: 1px solid var(--col-blue-400);
//         border-right: none;
//         background-color: white;
//         &.active {
//             background-color: var(--col-blue-400);
//             a {
//                 cursor: default;
//                 font-weight: 600;
//             }
//         }
//         &:first-of-type {
//             border-top-left-radius: 0.25rem;
//             border-bottom-left-radius: 0.25rem;
//         }
//         &:last-of-type {
//             border-top-right-radius: 0.25rem;
//             border-bottom-right-radius: 0.25rem;
//             border-right: 1px solid var(--col-blue-400);
//         }
//     }

//     a {
//         display: block;
//         text-decoration: none;
//         color: black;
//         padding: 0.5rem 1rem;
//     }

// }